.main-wrapper{
    display: inline-flex;
    justify-content: left;
    align-items: center;
    padding-right: 30px;
    background-color:#0d0d5f;
    box-shadow: 8px 8px 0 #f7bd00;
    opacity:0.7;
    transition: opacity 0.1s ease-in-out;
}

.main-wrapper:hover{
    opacity: 1;
}

.main-icon.-second{
    max-width: 500px;
    max-height: 500px;
}