.wrapper-sobre{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrapper-sobre .right{
    display: flex;
    flex-direction: column;
    gap: 40px;

    background-color: #f7bd00;
    padding: 10px;
    border-style: double;
    border-color: #0d0d5f;
}

.wrapper-sobre .main-video{
    padding: 10px;
    border-style: dashed;
    border-color: #0d0d5f;
}